<h2 style="float:left">Editar Perfil </h2>
<div style="float:left; padding-left: 10px">
	<br/>
	(<%= @user.full_name %>)
</div>
<br/><br/><br/>
<div>
	<%= render 'form' %>
</div>

<%= link_to 'Voltar', @user %>