<h2 style="float:left"> <%= t '.title' %> </h2>

<div style="float:left; padding-left: 10px">
	(<%= @user.full_name %>)
</div>

<br/>
<div>
	<%= render 'form' %>
</div>

<%= link_to t('links.back'), @user %>